venv/
.vscode/
# Python
__pycache__/
*.pyc
*.pyo

# Environments
venv/
.env
.conda/

# PyTorch
checkpoints/
runs/

# Slurm
*.out
*.err

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/
__pycache__/
*.pyc