torch>=2.1.0
torchvision>=0.16.0
torchaudio>=2.1.0

PyYAML>=6.0
tqdm>=4.66.0
numpy>=1.24.0

pandas>=2.0.0
opencv-python>=4.8.0
Pillow>=10.0.0

transformers>=4.37.0
safetensors>=0.4.0
huggingface-hub>=0.20.0
tokenizers>=0.15.0

mamba-ssm>=2.2.0
einops>=0.7.0
ninja>=1.11.0
packaging>=23.0
